html {
    --rust: #911E00;
    --yellow: #A5580D;
    --cream: #FCF6E5;
    --teal: #3C645B;
    --tan: #D2A67B;
    --brown: #3B2224;
}



header { 
    background-image: url('../images/all\ the\ beans.jpg');
    background-position: center center;
    background-size: cover;
    display:grid;
    align-items: center;
    height: 90vh;
    text-align: center;
    z-index: 1;
  }
  

body{
    background-color: var(--cream);
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
    margin-bottom: 120px;
    padding-bottom: 120px;
}


h1{
    color: var(--cream);
    font-size: 47pt;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    color: var(--cream);
    font-family: 'DM Serif Display', serif;
    font-size: 37pt;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
}

h3{
    color: var(--teal);
    border-bottom: 2px solid var(--yellow);
    font-family: 'DM Serif Display', serif;
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
}

h4{
    align-items: center;
    color: var(--cream);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}

h5{
    color: var(--brown);
    font-family: 'DM Serif Display', serif;
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}

h6{
    color: var(--cream);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20pt;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
}

h7{
    color: var(--teal);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20pt;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}

p{
    color: var(--brown);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}

.gallery-item {
    position: relative;
    width: 100vw;
  }

.caption {
    color: var(--cream);
    display: flex;
    position: absolute;
    min-height: 614;
    max-height: 673;
    padding-top: 46%;
    top: 0;
    text-align: left;
    width: 50%;
    align-items: center;
}

.container{
    color: var(--cream);
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}


.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.diamond-outline{
    align-items: center center;
    background-image: url('../images/outline_diamond.png');
    background-position: center center;
    object-fit:cover;
    z-index: 2;
}

.diamond{
    background-image: url('../images/diamond.png');
    background-position: relative;
    position: absolute;
}

.grid{
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}
.grid> *{
    grid-column: main;
}

.overview{
    color: var(--brown);
    padding: 4rm 0;
}

.myimage{
    width:300px;
    height:300px;
    object-fit:cover;
    padding: 0  0 30px
  }

figure{ 
    margin-top: 2rem;
}

footer{
    align-items: center;
    background-color: var(--teal);
    background-position: center center;
    range: url('../images/icon.png');
    margin-bottom: 0;
    padding: 2rem;
    text-align: center;
}

.table {
    color: var(--brown);
    border-radius: 0.4em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    min-width: 300px;
    text-align: left;
    width: 100%;
    }

    td {
        font-family: 'Noto Sans', sans-serif;
        padding: 1rem;
      }
      
      th{
        font-family: 'Noto Sans', sans-serif;
        padding: 1rem;
      }


@media screen and (min-width: 800px) {
    .two-column{
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}    